# Sales Prediction with Walmart Data (All Stores)

In [50]:
# Import the Dependencies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
import numpy as np
from sklearn import metrics
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from config import db_password
import psycopg2
from sqlalchemy import create_engine
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Data Selection:

The data was taken from Kaggle. The link to source is: https://www.kaggle.com/aditya6196/retail-analysis-with-walmart-data

# Data Cleaning:

The data was cleaned using an ETL function which was described in the Walmart_Wkly_Sales_ETL.ipynb file of the ETL_Analysis branch. The cleaned data was then stored in the postgres as 'Weekly_Sales', 'Features' and 'Holidays' tables. The data was then stored in the RDS database of the Amazon Web Services(AWS) so that it can be easily imported to some other remote file.

# Importing the Data:

Here, the data was imported from the RDS database of the AWS.

In [51]:
# Creating a Connection with the postgres
db_string = f"postgres://postgres:{db_password}@walmartsales.ctixdh2hiprk.us-east-2.rds.amazonaws.com:5432/WMT_SALEs"
engine = create_engine(db_string)
# weekly_sales_df.to_sql(name='Weekly_Sales', con=engine, if_exists='append',index=False)

In [52]:
# Read the data from postgress into the pandas dataframe
sales_df = pd.read_sql_table("Weekly_Sales",con = engine)
sales_df.head(10)

,index_id,Rev_Date,Date,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Month,Year,Week
0,1-2010-05-02,2010-05-02,2010-05-02,1,1643690.90,0,42.31,2.572,211.096358,8.106,5,2010,17
1,1-2010-12-02,2010-12-02,2010-12-02,1,1641957.44,1,38.51,2.548,211.242170,8.106,12,2010,48
2,1-2010-02-19,2010-02-19,2010-02-19,1,1611968.17,0,39.93,2.514,211.289143,8.106,2,2010,7
3,1-2010-02-26,2010-02-26,2010-02-26,1,1409727.59,0,46.63,2.561,211.319643,8.106,2,2010,8
4,1-2010-05-03,2010-05-03,2010-05-03,1,1554806.68,0,46.50,2.625,211.350143,8.106,5,2010,18
5,1-2010-12-03,2010-12-03,2010-12-03,1,1439541.59,0,57.79,2.667,211.380643,8.106,12,2010,48
6,1-2010-03-19,2010-03-19,2010-03-19,1,1472515.79,0,54.58,2.720,211.215635,8.106,3,2010,11
7,1-2010-03-26,2010-03-26,2010-03-26,1,1404429.92,0,51.45,2.732,211.018042,8.106,3,2010,12
8,1-2010-02-04,2010-02-04,2010-02-04,1,1594968.28,0,62.27,2.719,210.820450,7.808,2,2010,5
9,1-2010-09-04,2010-09-04,2010-09-04,1,1545418.53,0,65.86,2.770,210.622857,7.808,9,2010,35

In [53]:
# Checking the data types 
sales_df.dtypes

index_id                object
Rev_Date        datetime64[ns]
Date            datetime64[ns]
Store                    int64
Weekly_Sales           float64
Holiday_Flag             int64
Temperature            float64
Fuel_Price             float64
CPI                    float64
Unemployment           float64
Month                    int64
Year                     int64
Week                     int64
dtype: object

In [54]:
# Compute the summary of statistics
sales_df.describe()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Month,Year,Week
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151,6.475524,2010.965035,26.000000
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885,3.321797,0.797019,14.511794
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000,1.000000,2010.000000,1.000000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000,4.000000,2010.000000,14.000000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000,6.000000,2011.000000,26.000000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000,9.000000,2012.000000,38.000000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000,12.000000,2012.000000,52.000000

# Data Preprocessing:

The imported data has been copied into another dataframe and sorted by "Store" and "Date". A new column named 'sales_diff'  has been created which consists of the difference between the weekly sales. Then some of the unwanted rows are dropped which could cause the error in the final sales predictions.

In [57]:
# Making a copy of sales_df
sales_stores = sales_df.copy()
sales_stores

,index_id,Rev_Date,Date,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Month,Year,Week
0,1-2010-05-02,2010-05-02,2010-05-02,1,1643690.90,0,42.31,2.572,211.096358,8.106,5,2010,17
1,1-2010-12-02,2010-12-02,2010-12-02,1,1641957.44,1,38.51,2.548,211.242170,8.106,12,2010,48
2,1-2010-02-19,2010-02-19,2010-02-19,1,1611968.17,0,39.93,2.514,211.289143,8.106,2,2010,7
3,1-2010-02-26,2010-02-26,2010-02-26,1,1409727.59,0,46.63,2.561,211.319643,8.106,2,2010,8
4,1-2010-05-03,2010-05-03,2010-05-03,1,1554806.68,0,46.50,2.625,211.350143,8.106,5,2010,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6430,45-2012-09-28,2012-09-28,2012-09-28,45,713173.95,0,64.88,3.997,192.013558,8.684,9,2012,39
6431,45-2012-05-10,2012-05-10,2012-05-10,45,733455.07,0,64.89,3.985,192.170412,8.667,5,2012,19
6432,45-2012-12-10,2012-12-10,2012-12-10,45,734464.36,0,54.47,4.000,192.327265,8.667,12,2012,50
6433,45-2012-10-19,2012-10-19,2012-10-19,45,718125.53,0,56.47,3.969,192.330854,8.667,10,2012,42
6434,45-2012-10-26,2012-10-26,2012-10-26,45,760281.43,0,58.85,3.882,192.308899,8.667,10,2012,43

In [58]:
# Sorting the data by "Store" and "Date"
sales_stores_sorted = sales_stores.sort_values(by=["Store","Date"])
sales_stores_sorted

,index_id,Rev_Date,Date,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Month,Year,Week
34,1-2010-01-10,2010-01-10,2010-01-10,1,1453329.50,0,71.89,2.603,211.671989,7.838,1,2010,1
8,1-2010-02-04,2010-02-04,2010-02-04,1,1594968.28,0,62.27,2.719,210.820450,7.808,2,2010,5
21,1-2010-02-07,2010-02-07,2010-02-07,1,1492418.14,0,80.91,2.669,211.223533,7.787,2,2010,5
2,1-2010-02-19,2010-02-19,2010-02-19,1,1611968.17,0,39.93,2.514,211.289143,8.106,2,2010,7
3,1-2010-02-26,2010-02-26,2010-02-26,1,1409727.59,0,46.63,2.561,211.319643,8.106,2,2010,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6423,45-2012-10-08,2012-10-08,2012-10-08,45,733037.32,0,78.65,3.722,191.162613,8.684,10,2012,41
6433,45-2012-10-19,2012-10-19,2012-10-19,45,718125.53,0,56.47,3.969,192.330854,8.667,10,2012,42
6434,45-2012-10-26,2012-10-26,2012-10-26,45,760281.43,0,58.85,3.882,192.308899,8.667,10,2012,43
6410,45-2012-11-05,2012-11-05,2012-11-05,45,770487.37,0,61.24,3.889,190.976417,8.567,11,2012,45
6432,45-2012-12-10,2012-12-10,2012-12-10,45,734464.36,0,54.47,4.000,192.327265,8.667,12,2012,50

In [59]:
# Saving the data 
sales_stores_sorted.to_csv('../Resources/allstores_model_df.csv')

In [60]:
# Defining a function to calculate difference of "Weekly_Sales"
def get_diff(data):
    sales_stores_sorted['sales_diff'] = sales_stores_sorted.Weekly_Sales.diff()
#     sales_stores_sorted = sales_stores_sorted.dropna()

    # Saving the data 
    sales_stores_sorted.to_csv('../Resources/allstores_ML_df.csv')

In [61]:
# Executing the "get_diff" function
get_diff(sales_stores_sorted)

In [62]:
# Removing the rows where date is equal to "2010-01-10"
sales_stores_sorted = sales_stores_sorted.loc[sales_stores_sorted["Date"] != "2010-01-10"]
sales_stores_sorted

,index_id,Rev_Date,Date,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Month,Year,Week,sales_diff
8,1-2010-02-04,2010-02-04,2010-02-04,1,1594968.28,0,62.27,2.719,210.820450,7.808,2,2010,5,141638.78
21,1-2010-02-07,2010-02-07,2010-02-07,1,1492418.14,0,80.91,2.669,211.223533,7.787,2,2010,5,-102550.14
2,1-2010-02-19,2010-02-19,2010-02-19,1,1611968.17,0,39.93,2.514,211.289143,8.106,2,2010,7,119550.03
3,1-2010-02-26,2010-02-26,2010-02-26,1,1409727.59,0,46.63,2.561,211.319643,8.106,2,2010,8,-202240.58
30,1-2010-03-09,2010-03-09,2010-03-09,1,1540163.53,0,81.21,2.577,211.531248,7.787,3,2010,10,130435.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6423,45-2012-10-08,2012-10-08,2012-10-08,45,733037.32,0,78.65,3.722,191.162613,8.684,10,2012,41,-70619.80
6433,45-2012-10-19,2012-10-19,2012-10-19,45,718125.53,0,56.47,3.969,192.330854,8.667,10,2012,42,-14911.79
6434,45-2012-10-26,2012-10-26,2012-10-26,45,760281.43,0,58.85,3.882,192.308899,8.667,10,2012,43,42155.90
6410,45-2012-11-05,2012-11-05,2012-11-05,45,770487.37,0,61.24,3.889,190.976417,8.567,11,2012,45,10205.94
6432,45-2012-12-10,2012-12-10,2012-12-10,45,734464.36,0,54.47,4.000,192.327265,8.667,12,2012,50,-36023.01

In [63]:
# Create Dataframe for transformation from time series to supervised
def generate_supervised(data):
    supervised_df = data.copy()
    
    # Create column for each lag
    for i in range(1,13):
        col_name = 'lag_' + str(i)
        supervised_df[col_name] = supervised_df['sales_diff'].shift(i)
    
    # Drop null values
    supervised_df = supervised_df.dropna().reset_index(drop=True)
    
#     supervised_df.to_csv('../Resources/allstores_model_df.csv', index=False)
    
    return supervised_df

In [64]:
# Executing the "get_diff" function
allstores_model_df = generate_supervised(sales_stores_sorted)
allstores_model_df

,index_id,Rev_Date,Date,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,...,lag_3,lag_4,lag_5,lag_6,lag_7,lag_8,lag_9,lag_10,lag_11,lag_12
0,1-2010-05-02,2010-05-02,2010-05-02,1,1643690.90,0,42.31,2.572,211.096358,8.106,...,-149466.43,211094.79,-68085.87,-75517.99,7870.25,130435.94,-202240.58,119550.03,-102550.14,141638.78
1,1-2010-05-03,2010-05-03,2010-05-03,1,1554806.68,0,46.50,2.625,211.350143,8.106,...,-74802.16,-149466.43,211094.79,-68085.87,-75517.99,7870.25,130435.94,-202240.58,119550.03,-102550.14
2,1-2010-05-11,2010-05-11,2010-05-11,1,1551659.28,0,58.74,2.689,211.956394,7.838,...,33844.59,-74802.16,-149466.43,211094.79,-68085.87,-75517.99,7870.25,130435.94,-202240.58,119550.03
3,1-2010-05-14,2010-05-14,2010-05-14,1,1494251.50,0,74.78,2.854,210.337426,7.808,...,218590.19,33844.59,-74802.16,-149466.43,211094.79,-68085.87,-75517.99,7870.25,130435.94,-202240.58
4,1-2010-05-21,2010-05-21,2010-05-21,1,1399662.07,0,76.44,2.826,210.617093,7.808,...,-88884.22,218590.19,33844.59,-74802.16,-149466.43,211094.79,-68085.87,-75517.99,7870.25,130435.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6373,45-2012-10-08,2012-10-08,2012-10-08,45,733037.32,0,78.65,3.722,191.162613,8.684,...,20847.93,-74730.60,42671.00,16065.61,-4264.67,-72636.07,83461.42,-25942.07,-12203.43,-16695.58
6374,45-2012-10-19,2012-10-19,2012-10-19,45,718125.53,0,56.47,3.969,192.330854,8.667,...,-9912.25,20847.93,-74730.60,42671.00,16065.61,-4264.67,-72636.07,83461.42,-25942.07,-12203.43
6375,45-2012-10-26,2012-10-26,2012-10-26,45,760281.43,0,58.85,3.882,192.308899,8.667,...,90483.17,-9912.25,20847.93,-74730.60,42671.00,16065.61,-4264.67,-72636.07,83461.42,-25942.07
6376,45-2012-11-05,2012-11-05,2012-11-05,45,770487.37,0,61.24,3.889,190.976417,8.567,...,-70619.80,90483.17,-9912.25,20847.93,-74730.60,42671.00,16065.61,-4264.67,-72636.07,83461.42
6377,45-2012-12-10,2012-12-10,2012-12-10,45,734464.36,0,54.47,4.000,192.327265,8.667,...,-14911.79,-70619.80,90483.17,-9912.25,20847.93,-74730.60,42671.00,16065.61,-4264.67,-72636.07

In [65]:
# Saving the data
allstores_model_df.to_csv('../Resources/allstores_lag.csv')

In [66]:
# Stores list
stores = allstores_model_df["Store"].unique()
stores

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45], dtype=int64)

In [71]:
# Looping through each Store for finding their predicted values and performance metrics 
# Using Linear Regression Model & Random Forest Regressor

stores_predictions_01 = pd.DataFrame([])
stores_metrics_01 = []

stores_predictions_02 = pd.DataFrame([])
stores_metrics_02 = []

for store in stores:
    stores_sales = allstores_model_df[allstores_model_df.Store == store]
    try:
        y = stores_sales["Weekly_Sales"]
        X = stores_sales.drop(columns =["Weekly_Sales","Date","Rev_Date","index_id"])

        # Splitting the data into trainig and testing data-sets
        X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
        
    except Exception as e:
        print('check error-- Split the sales data')
        print(e.message)
        
    try:  
        # Scale the data
        scaler = StandardScaler()
        X_scaler = scaler.fit(X_train)
        X_train_scaled = X_scaler.transform(X_train)
        X_test_scaled = X_scaler.transform(X_test)
        
    except Exception as e:
        print('check error--scale the sales data')
        print(e.message)
        
    # Instantiate the Linear Regression Model
    linear = LinearRegression()
    
    # Fitting the Model 
    linear.fit(X_train_scaled, y_train)
        
    # Make the predictions
    y_pred_01 = linear.predict(X_test_scaled)
    predictions_01 = pd.DataFrame({"Store":store,"Algorithm":"Linear Regression","Prediction": y_pred_01, "Actual": y_test})
    
    stores_predictions_01 = stores_predictions_01.append(predictions_01)
    
    # Calculation of Metrics:
#     print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred_01))   
#     print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred_01))
#     print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_01)))
    
    scoring_01 = {"Store":store,
                  "Algorithm":"Linear Regression",
                    "Mean Absolute Error":metrics.mean_absolute_error(y_test,y_pred_01),
                    "Mean Squared Error":metrics.mean_squared_error(y_test, y_pred_01),
                    "Root Mean Squared Error": np.sqrt(metrics.mean_squared_error(y_test, y_pred_01)),
                    "R-squared":r2_score(y_test, y_pred_01)}
    
    stores_metrics_01.append(scoring_01)    
     
        
    # Create a Random Forest Regressor
    regr = RandomForestRegressor(n_estimators=100, random_state=0)
    
    # Fitting the model
    regr = regr.fit(X_train_scaled, y_train)
        
    # Make the predictions
    y_pred_02 = regr.predict(X_test_scaled)
    predictions_02 = pd.DataFrame({"Store":store,"Algorithm":"Random Forest Regressor","Prediction": y_pred_02, "Actual": y_test})
      
       
    stores_predictions_02 = stores_predictions_02.append(predictions_02)
    
    # Calculation of Metrics:
#     print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred_02))   
#     print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred_02))
#     print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_02)))
    
    scoring_02 = {"Store":store,
                  "Algorithm":"Random Forest Regressor",
                    "Mean Absolute Error":metrics.mean_absolute_error(y_test,y_pred_02),
                    "Mean Squared Error":metrics.mean_squared_error(y_test, y_pred_02),
                    "Root Mean Squared Error": np.sqrt(metrics.mean_squared_error(y_test, y_pred_02)),
                    "R-squared":r2_score(y_test, y_pred_02)}
    
    stores_metrics_02.append(scoring_02)

In [72]:
# Linear Regression Dataframe
stores_predictions_01

      Store          Algorithm    Prediction      Actual
108       1  Linear Regression  1.758953e+06  1769854.16
105       1  Linear Regression  1.549937e+06  1555444.55
35        1  Linear Regression  1.454029e+06  1495064.75
124       1  Linear Regression  1.863232e+06  1802477.43
53        1  Linear Regression  1.566194e+06  1624383.75
...     ...                ...           ...         ...
6264     45  Linear Regression  7.448216e+05   721744.33
6301     45  Linear Regression  7.661756e+05   765996.92
6345     45  Linear Regression  7.802830e+05   791835.37
6351     45  Linear Regression  7.644252e+05   733455.07
6302     45  Linear Regression  7.914030e+05   793889.10

[1617 rows x 4 columns]

In [73]:
# Random Forest Regressor Dataframe
stores_predictions_02

      Store                Algorithm    Prediction      Actual
108       1  Random Forest Regressor  1.540986e+06  1769854.16
105       1  Random Forest Regressor  1.537265e+06  1555444.55
35        1  Random Forest Regressor  1.627393e+06  1495064.75
124       1  Random Forest Regressor  1.855490e+06  1802477.43
53        1  Random Forest Regressor  1.607530e+06  1624383.75
...     ...                      ...           ...         ...
6264     45  Random Forest Regressor  7.317909e+05   721744.33
6301     45  Random Forest Regressor  7.798973e+05   765996.92
6345     45  Random Forest Regressor  7.593555e+05   791835.37
6351     45  Random Forest Regressor  7.814247e+05   733455.07
6302     45  Random Forest Regressor  7.613894e+05   793889.10

[1617 rows x 4 columns]

In [74]:
# Linear Regression Dataframe and Random Forest Regressor Dataframe merged
actual_vs_prediction_merge = pd.merge(stores_predictions_01, stores_predictions_02, left_index=True, right_index=True)
actual_vs_prediction_merge

,Store_x,Algorithm_x,Prediction_x,Actual_x,Store_y,Algorithm_y,Prediction_y,Actual_y
108,1,Linear Regression,1.758953e+06,1769854.16,1,Random Forest Regressor,1.540986e+06,1769854.16
105,1,Linear Regression,1.549937e+06,1555444.55,1,Random Forest Regressor,1.537265e+06,1555444.55
35,1,Linear Regression,1.454029e+06,1495064.75,1,Random Forest Regressor,1.627393e+06,1495064.75
124,1,Linear Regression,1.863232e+06,1802477.43,1,Random Forest Regressor,1.855490e+06,1802477.43
53,1,Linear Regression,1.566194e+06,1624383.75,1,Random Forest Regressor,1.607530e+06,1624383.75
...,...,...,...,...,...,...,...,...
6264,45,Linear Regression,7.448216e+05,721744.33,45,Random Forest Regressor,7.317909e+05,721744.33
6301,45,Linear Regression,7.661756e+05,765996.92,45,Random Forest Regressor,7.798973e+05,765996.92
6345,45,Linear Regression,7.802830e+05,791835.37,45,Random Forest Regressor,7.593555e+05,791835.37
6351,45,Linear Regression,7.644252e+05,733455.07,45,Random Forest Regressor,7.814247e+05,733455.07
6302,45,Linear Regression,7.914030e+05,793889.10,45,Random Forest Regressor,7.613894e+05,793889.10

In [75]:
# Saving the data
actual_vs_prediction_merge.to_csv('../Resources/Allstores_actual_vs_predictions_merge.csv')

In [76]:
# Linear Regression Dataframe and Random Forest Regressor Dataframe appended
actual_vs_prediction_append = stores_predictions_01.append(stores_predictions_02)
actual_vs_prediction_append

      Store                Algorithm    Prediction      Actual
108       1        Linear Regression  1.758953e+06  1769854.16
105       1        Linear Regression  1.549937e+06  1555444.55
35        1        Linear Regression  1.454029e+06  1495064.75
124       1        Linear Regression  1.863232e+06  1802477.43
53        1        Linear Regression  1.566194e+06  1624383.75
...     ...                      ...           ...         ...
6264     45  Random Forest Regressor  7.317909e+05   721744.33
6301     45  Random Forest Regressor  7.798973e+05   765996.92
6345     45  Random Forest Regressor  7.593555e+05   791835.37
6351     45  Random Forest Regressor  7.814247e+05   733455.07
6302     45  Random Forest Regressor  7.613894e+05   793889.10

[3234 rows x 4 columns]

In [77]:
# Saving the data
actual_vs_prediction_append.to_csv('../Resources/Allstores_actual_vs_predictions_append.csv')

In [78]:
# Linear Regression computed metrics
Store_scoring_01 = pd.DataFrame(stores_metrics_01)
Store_scoring_01

,Store,Algorithm,Mean Absolute Error,Mean Squared Error,Root Mean Squared Error,R-squared
0,1,Linear Regression,29271.619364,1.494187e+09,38654.711081,0.958274
1,2,Linear Regression,77239.191273,2.030995e+10,142512.996448,0.855837
2,3,Linear Regression,12289.808123,3.170211e+08,17805.085637,0.909767
3,4,Linear Regression,68571.983080,1.501068e+10,122518.063346,0.906864
4,5,Linear Regression,8225.257951,1.482606e+08,12176.231226,0.936104
5,6,Linear Regression,67321.418611,1.138704e+10,106710.097648,0.885275
6,7,Linear Regression,34133.871303,1.839633e+09,42890.938820,0.923564
7,8,Linear Regression,26967.975688,2.159040e+09,46465.472384,0.914658
8,9,Linear Regression,16344.696502,6.599443e+08,25689.381910,0.928089
9,10,Linear Regression,101695.515801,3.431194e+10,185234.815458,0.850389
10,11,Linear Regression,38996.800445,4.200802e+09,64813.593556,0.928293
11,12,Linear Regression,42251.624236,4.091247e+09,63962.854834,0.900246
12,13,Linear Regression,68726.728026,1.734165e+10,131687.699599,0.898999
13,14,Linear Regression,93578.904900,2.384048e+10,154403.639094,0.877408
14,15,Linear Regression,41109.493660,4.293220e+09,65522.666693,0.873423
15,16,Linear Regression,30528.583467,1.701478e+09,41248.977399,0.890749
16,17,Linear Regression,23883.851356,1.077549e+09,32826.042633,0.931785
17,18,Linear Regression,61489.298029,8.730937e+09,93439.485670,0.856870
18,19,Linear Regression,60134.250667,1.067022e+10,103296.751171,0.872732
19,20,Linear Regression,73263.267090,1.461299e+10,120884.209501,0.910483
20,21,Linear Regression,49186.927115,7.570293e+09,87007.430200,0.823330
21,22,Linear Regression,49517.190980,7.084724e+09,84170.804171,0.877431
22,23,Linear Regression,78745.160294,1.650111e+10,128456.644556,0.874657
23,24,Linear Regression,51438.126722,7.385642e+09,85939.758478,0.869811
24,25,Linear Regression,39683.136872,3.957395e+09,62907.831352,0.858913
25,26,Linear Regression,31446.523904,2.579851e+09,50792.233431,0.877439
26,27,Linear Regression,87394.850051,1.550163e+10,124505.559492,0.852890
27,28,Linear Regression,44491.139397,3.871103e+09,62218.186153,0.915335
28,29,Linear Regression,30590.245744,2.476735e+09,49766.811041,0.895083
29,30,Linear Regression,8293.372009,1.057046e+08,10281.276147,0.886941
30,31,Linear Regression,40264.761142,4.957814e+09,70411.746615,0.853728
31,32,Linear Regression,40882.682902,4.953952e+09,70384.314998,0.891279
32,33,Linear Regression,7446.501620,8.752963e+07,9355.727327,0.858974
33,34,Linear Regression,33853.560978,3.864711e+09,62166.803214,0.862656
34,35,Linear Regression,72765.623755,1.016369e+10,100815.141998,0.853470
35,36,Linear Regression,10436.899732,1.980720e+08,14073.805268,0.946952
36,37,Linear Regression,4044.528096,3.052939e+07,5525.340310,0.958483
37,38,Linear Regression,8468.249981,1.200375e+08,10956.164689,0.917019
38,39,Linear Regression,50610.633391,6.774669e+09,82308.379782,0.926737
39,40,Linear Regression,27645.097609,2.151834e+09,46387.867856,0.925488
40,41,Linear Regression,45879.215402,5.798288e+09,76146.493662,0.920081
41,42,Linear Regression,10686.881427,1.761719e+08,13272.978045,0.921141
42,43,Linear Regression,14013.700218,3.170445e+08,17805.742107,0.851237
43,44,Linear Regression,5242.331796,4.702344e+07,6857.363788,0.938429
44,45,Linear Regression,40978.853476,5.684247e+09,75393.945814,0.869949

In [79]:
# Random Forest Regressor computed metrics
Store_scoring_02 = pd.DataFrame(stores_metrics_02)
Store_scoring_02

,Store,Algorithm,Mean Absolute Error,Mean Squared Error,Root Mean Squared Error,R-squared
0,1,Random Forest Regressor,70090.929579,9.853610e+09,99265.353241,0.724835
1,2,Random Forest Regressor,126164.198844,6.115469e+10,247294.742114,0.565916
2,3,Random Forest Regressor,22678.480347,1.313500e+09,36242.246325,0.626142
3,4,Random Forest Regressor,120977.858006,7.216486e+10,268635.172476,0.552242
4,5,Random Forest Regressor,17032.225403,7.169363e+08,26775.665445,0.691019
5,6,Random Forest Regressor,128511.279122,4.430373e+10,210484.514941,0.553639
6,7,Random Forest Regressor,59708.557917,9.280446e+09,96335.071960,0.614401
7,8,Random Forest Regressor,52026.972103,1.141191e+10,106826.543253,0.548913
8,9,Random Forest Regressor,31634.369775,3.467744e+09,58887.550177,0.622139
9,10,Random Forest Regressor,132114.373083,8.487546e+10,291333.933846,0.629916
10,11,Random Forest Regressor,78041.257672,2.306062e+10,151857.248083,0.606358
11,12,Random Forest Regressor,68246.555503,1.493184e+10,122195.896719,0.635927
12,13,Random Forest Regressor,114537.944825,6.470858e+10,254378.807783,0.623123
13,14,Random Forest Regressor,155338.322031,9.220044e+10,303645.257854,0.525890
14,15,Random Forest Regressor,55723.401986,1.163284e+10,107855.630255,0.657028
15,16,Random Forest Regressor,50739.203678,9.277634e+09,96320.476945,0.404287
16,17,Random Forest Regressor,48474.796814,4.413224e+09,66432.100311,0.720616
17,18,Random Forest Regressor,93346.688469,2.442608e+10,156288.453029,0.599574
18,19,Random Forest Regressor,105918.242053,4.289571e+10,207112.789288,0.488366
19,20,Random Forest Regressor,127398.999908,6.347080e+10,251934.112401,0.611188
20,21,Random Forest Regressor,71392.887944,1.807566e+10,134445.747186,0.578162
21,22,Random Forest Regressor,73625.859856,1.917195e+10,138462.806711,0.668316
22,23,Random Forest Regressor,136998.083564,5.975126e+10,244440.711862,0.546128
23,24,Random Forest Regressor,84969.592103,3.157357e+10,177689.541266,0.443442
24,25,Random Forest Regressor,60802.976486,1.064242e+10,103162.086068,0.620582
25,26,Random Forest Regressor,56491.259881,1.096089e+10,104694.276950,0.479280
26,27,Random Forest Regressor,136468.122278,5.905446e+10,243011.231540,0.439576
27,28,Random Forest Regressor,104057.043853,2.007117e+10,141672.745223,0.561021
28,29,Random Forest Regressor,49099.635456,9.389433e+09,96899.085659,0.602254
29,30,Random Forest Regressor,16435.938608,5.151896e+08,22697.788789,0.448968
30,31,Random Forest Regressor,57492.653997,1.342020e+10,115845.599535,0.604059
31,32,Random Forest Regressor,62513.265178,1.488773e+10,122015.295326,0.673269
32,33,Random Forest Regressor,16075.746411,3.938075e+08,19844.582990,0.365504
33,34,Random Forest Regressor,47871.460817,1.290156e+10,113585.019929,0.541503
34,35,Random Forest Regressor,102917.106667,4.471420e+10,211457.313051,0.355357
35,36,Random Forest Regressor,16406.136511,4.322751e+08,20791.226094,0.884228
36,37,Random Forest Regressor,13798.990031,4.588705e+08,21421.262663,0.375980
37,38,Random Forest Regressor,16746.971461,5.105880e+08,22596.194965,0.647033
38,39,Random Forest Regressor,113524.221419,4.199147e+10,204918.201580,0.545894
39,40,Random Forest Regressor,65384.174564,1.814221e+10,134693.015007,0.371786
40,41,Random Forest Regressor,100249.000061,4.024301e+10,200606.599465,0.445320
41,42,Random Forest Regressor,25027.244575,9.399601e+08,30658.769182,0.579252
42,43,Random Forest Regressor,24828.947219,9.896125e+08,31458.107734,0.535657
43,44,Random Forest Regressor,13349.875808,4.875447e+08,22080.415133,0.361620
44,45,Random Forest Regressor,67903.894583,2.096554e+10,144794.822351,0.520326

In [80]:
# Linear Regression computed metrics and Random Forest Regressor computed metrics appended
scoring_append = Store_scoring_01.append(Store_scoring_02)
scoring_append

,Store,Algorithm,Mean Absolute Error,Mean Squared Error,Root Mean Squared Error,R-squared
0,1,Linear Regression,29271.619364,1.494187e+09,38654.711081,0.958274
1,2,Linear Regression,77239.191273,2.030995e+10,142512.996448,0.855837
2,3,Linear Regression,12289.808123,3.170211e+08,17805.085637,0.909767
3,4,Linear Regression,68571.983080,1.501068e+10,122518.063346,0.906864
4,5,Linear Regression,8225.257951,1.482606e+08,12176.231226,0.936104
...,...,...,...,...,...,...
40,41,Random Forest Regressor,100249.000061,4.024301e+10,200606.599465,0.445320
41,42,Random Forest Regressor,25027.244575,9.399601e+08,30658.769182,0.579252
42,43,Random Forest Regressor,24828.947219,9.896125e+08,31458.107734,0.535657
43,44,Random Forest Regressor,13349.875808,4.875447e+08,22080.415133,0.361620
44,45,Random Forest Regressor,67903.894583,2.096554e+10,144794.822351,0.520326

In [81]:
# Saving the data
scoring_append.to_csv('../Resources/Allstores_scoring_append.csv')

In [ ]:
import datetime
def time_plot(data, x_col, y_col, title):
    fig, ax = plt.subplots(figsize=(15,5))
    sns.lineplot(x_col, y_col, data=data, ax=ax, color='mediumblue', label='Total Sales')
    
    second = data.groupby(data.Date.dt.year)[y_col].mean().reset_index()
    second.Date = pd.to_datetime(second.Date, format='%Y')
    sns.lineplot((second.Date + datetime.timedelta(6*365/12)), y_col, data=second, ax=ax, color='red', label='Mean Sales')   
    
    ax.set(xlabel = "Date",
           ylabel = "Sales",
           title = title)
    
    sns.despine()

In [ ]:
time_plot(sales_store1, 'Date', 'sales_diff', 'Monthly Sales After Diff Transformation')

In [ ]:
#create dataframe for transformation from time series to supervised
def generate_supervised(data):
    supervised_df = data.copy()
    
    #create column for each lag
    for i in range(1,13):
        col_name = 'lag_' + str(i)
        supervised_df[col_name] = supervised_df['sales_diff'].shift(i)
    
    #drop null values
    supervised_df = supervised_df.dropna().reset_index(drop=True)
    
    supervised_df.to_csv('../Resources/model_df.csv', index=False)
    
    return supervised_df

In [ ]:
model_df = generate_supervised(sales_store1)

In [ ]:
model_df

In [ ]:
model_df.describe()

In [ ]:
# output(target) and input data division
y = model_df["Weekly_Sales"]
X = model_df.drop(columns =["Weekly_Sales","Date","Rev_Date","index_id"])

In [ ]:
# splitting the data into trainig and teting data sets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
# scale the data
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# instantiate the LinearRegression model
regressor = LinearRegression()  
regressor.fit(X_train_scaled, y_train)

In [ ]:
coeff_df = pd.DataFrame(regressor.coef_, X.columns, columns=['Coefficient'])  
coeff_df

In [ ]:
y_pred = regressor.predict(X_test_scaled)

In [ ]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df.head(25)

In [ ]:
# Saving predictions data 
df.to_csv("../Resources/predictions_LinearRegression_Lag.csv", index=False)

In [ ]:
df1=df.head(25)

In [ ]:
df1.plot(kind='bar',figsize=(10,8))
plt.grid(which='major', linestyle='-', linewidth='0.5', color='green')
plt.grid(which='minor', linestyle=':', linewidth='0.5', color='black')
plt.show()